# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/bloop
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.metals
.bloop

.idea

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

.openapi-generator


.bsp
openapitools.json
.DS_Store
